{% extends 'layout.njk' %}

{% block main %}
    <p>
        Define here the information about your instance, which will be shown on this website and will help users choose an instance which best suits their needs.
    </p>

    {% if messages.validationError.length > 0 %}
        <div class="alert alert-danger" role="alert">
          <strong>Could not save info:</strong>&nbsp;{{ messages.validationError[0] }}
        </div>
    {% endif %}

    <form action="/admin" method="POST">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="optOut"{{ ' checked' if instance.infos.optOut }}>
          Hide this instance from the instance picker
        </label>
      </div>

      <div class="form-group">
        <label for="selectLanguages">Main languages</label>
        <select multiple class="form-control" id="selectLanguages" name="languages" style="height: 300px;">
          {% for lang in langs %}
            <option value="{{ lang.code }}"{{ ' selected="selected"' if instance.infos.languages and instance.infos.languages.includes(lang.code) }}>{{ lang.name }} ({{ lang.nativeName }})</option>
          {% endfor %}
        </select>
        <small class="form-text text-muted">Use Control key to select multiple at once and to unselect items.</small>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="noOtherLanguages"{{ ' checked' if instance.infos.noOtherLanguages }}>
          Other languages are not accepted
        </label>
      </div>

      <div class="form-group">
        <label for="selectContent">Prohibited content</label>
        <select multiple class="form-control" name="prohibitedContent" style="height: 300px;">
          {% for content in ProhibitedContent.array %}
            <option value="{{ content.code }}"{{ ' selected="selected"' if instance.infos.prohibitedContent and instance.infos.prohibitedContent.includes(content.code) }}>{{ content.name }}</option>
          {% endfor %}
        </select>
        <small class="form-text text-muted">Use Control key to select multiple at once and to unselect items.</small>
      </div>

      <div class="form-group">
        <label for="inputOtherProhibited">Other prohibited content</label>
        <input type="text" class="form-control" name="otherProhibitedContent" value="{{ otherProhibitedContent }}">
        <small class="form-text text-muted">Please use a comma-separated list.</small>
      </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-danger" href="/admin/logout">Log out</a>
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
