{% set tab = 'statistics' %}
{% extends './layout.njk' %}

{% block tab %}
    <p>
        <b>Secret token: </b><small id="token-secret" style="display: none;">{{ token }}</small><a href="#" onclick="$('#token-secret').show();$(this).hide();">Show</a><br />
    </p>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}