{
  "mailgun": {
    "key": "",
    "domain": ""
  },

  "session_secret": "",

  "database": "",

  "redis": "",

  "postgresql": {
    "host": "",
    "port": 5432,
    "database": "",
    "username": "",
    "password": ""
  }
}
