[Unit]
Description=Instances web server

[Service]
User=instances
ExecStart=/usr/local/n/versions/node/10.4.0/bin/node /home/instances/instances/app
WorkingDirectory=/home/instances/instances
Restart=always

[Install]
WantedBy=multi-user.target
