{% extends 'layout.njk' %}

{% block main %}
    <h3>Selection of instances</h3>

    <p>
      Here are some instances, picked randomly every minute from the full instance list <a href="/list">here</a>.<br />
      Only instances with <b>open registrations, sufficient uptime, and security level</b> are shown here.
    </p>

    <div class="row">
    {% for instance in instances %}
    	<div class="col-md-4" style="padding: 10px;">
			<div class="card">
			  <div class="card-block">
			    <h4 class="card-title" style="overflow-wrap: break-word;">{{ instance.name }}</h4>
			    <p class="card-text">
					<nobr><abbr title="Percent of time this instance is available">Uptime</abbr> <span class="badge badge-success" style="vertical-align:middle;">{{ instance.uptime_str }}%</span></nobr><br />

			    	<nobr>Users <span class="badge badge-info" style="vertical-align:middle;">{{ instance.users }}</span></nobr><br />
			    	<nobr>Statuses <span class="badge badge-info" style="vertical-align:middle;">{{ instance.statuses }}</span></nobr><br />
			    </p>
			    <a href="https://{{ instance.name }}" class="btn btn-primary">Register</a>
			    <a href="#" data-toggle="modal" data-target="#modalInstanceInfo" data-instance="{{ instance.name }}" class="btn btn-info">More info</a>
			  </div>
			</div>
		</div>
    {% endfor %}
    </div>

    <div class="modal fade" id="modalInstanceInfo" tabindex="-1" role="dialog" aria-labelledby="modalInstanceInfoLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modalInstanceInfoLabel"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<p>
				<nobr><abbr title="Percent of time this instance is available">Uptime</abbr> <span class="badge badge-success" style="vertical-align:middle;" id="modalInstanceInfo-uptime"></span></nobr><br />

		    	<nobr>HTTPS <span class="badge badge-success" style="vertical-align:middle;" id="modalInstanceInfo-https"></span></nobr>
		    	<nobr>Observatory <span class="badge badge-success" style="vertical-align:middle;" id="modalInstanceInfo-obs"></span></nobr>
		    	<nobr>IPv6 <span class="badge" style="vertical-align:middle;" id="modalInstanceInfo-ipv6"></span></nobr><br />

		    	<nobr>Users <span class="badge badge-info" style="vertical-align:middle;" id="modalInstanceInfo-users"></span></nobr>
		    	<nobr>Statuses <span class="badge badge-info" style="vertical-align:middle;" id="modalInstanceInfo-statuses"></span></nobr>
		    	<nobr>Connections <span class="badge badge-info" style="vertical-align:middle;" id="modalInstanceInfo-connections"></span></nobr><br />
		    </p>

		    <h5>About instance (<a id="modalInstanceInfo-moreLink" href="">more</a>)</h4>

	    	<p id="modalInstanceInfo-info" style="font-style: italic;"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}

	<script type="text/javascript">
		$('#modalInstanceInfo').on('show.bs.modal', function (event) {
		  var button = $(event.relatedTarget);
		  var instanceName = button.data('instance');

		  var modal = $(this);
		  modal.find('.modal-title').text(instanceName);

		  $.get('/api/instances/' + instanceName + '.json', function(instance) {
		  	modal.find('#modalInstanceInfo-uptime').text((instance.uptime * 100).toFixed(3) + '%');

		  	modal.find('#modalInstanceInfo-https').text(instance.https_rank);
		  	modal.find('#modalInstanceInfo-obs').text(instance.obs_rank);

		  	var ipv6 = modal.find('#modalInstanceInfo-ipv6');
		  	if(instance.ipv6) {
		  		ipv6.text('Yes');
		  		ipv6.addClass('badge-success');
		  		ipv6.removeClass('badge-danger');
		  	} else {
		  		ipv6.text('No');
		  		ipv6.addClass('badge-danger');
		  		ipv6.removeClass('badge-success');
		  	}

		  	modal.find('#modalInstanceInfo-users').text(instance.users);
		  	modal.find('#modalInstanceInfo-statuses').text(instance.statuses);
		  	modal.find('#modalInstanceInfo-connections').text(instance.connections);

		  	if(instance.info.length > 500)
		  		instance.info = instance.info.substring(0, 500) + '...';
		  	modal.find('#modalInstanceInfo-info').html(instance.info.replace('\n', '<br />'));

		  	modal.find('#modalInstanceInfo-moreLink').attr('href', 'https://' + instanceName + '/about/more');
		  });
		});
	</script>
{% endblock %}