{% extends 'layout.njk' %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/css/select2.min.css">
{% endblock %}

{% block main %}
	<div id="collapse-parent" role="tablist" aria-multiselectable="true">
		<div id="collapse-welcome" class="collapse show text-center" role="tabpanel">
			<h4 style="margin-top: 100px;">Let me help you choose an instance</h4>

			<p>I will ask you a few questions about your needs, then I will show you instances that
				best suit these.</p>

			<p>You may skip any step by keeping default options if you want to.</p>

			<button id="btn-start" type="button" class="btn btn-primary">Start</button>
		</div>

		<div id="collapse-languages" class="collapse hide text-center" role="tabpanel">
			<h4 style="margin-top: 100px;">What language(s) do you speak?</h4>

            <div style="margin: 10px; max-width: 700px; width: 100%;" class="mx-auto">
                <select id="selectLanguages" style="width: 100%;" multiple="multiple">
                    {% for lang in langs %}
                        <option value="{{ lang.iso639_1 }}">{{ lang.name[0] }} ({{ lang.nativeName[0] }})</option>
                    {% endfor %}
                </select>
            </div>

            <button onclick="collapse('welcome');" type="button" class="btn btn-outline-secondary">Back</button>
            <button id="btn-next-languages" type="button" class="btn btn-primary">Next</button>
		</div>

		<div id="collapse-user-count" class="collapse hide text-center" role="tabpanel">
			<h4 style="margin-top: 100px;">Would you prefer an instance with a user count...</h4>


			<button onclick="userCount(100);" type="button" class="btn btn-primary mb-2">less than 100</button>
			<button onclick="userCount(500);" type="button" class="btn btn-primary mb-2">less than 500</button>
			<button onclick="userCount(1000);" type="button" class="btn btn-primary mb-2">less than 1,000</button>
			<button onclick="userCount(10000);" type="button" class="btn btn-primary mb-2">less than 10,000</button><br />
            <button onclick="collapse('languages');" type="button" class="btn btn-outline-secondary">Back</button>
			<button onclick="userCount();" type="button" class="btn btn-secondary">It does not matter</button>
		</div>

		<div id="collapse-moderation" class="collapse hide text-center" role="tabpanel">
			<h4 style="margin-top: 100px;">Any specific moderation rules?</h4>
			<table style="margin: auto;" class="mb-3">
				<thead>
					<tr>
						<th style="padding-right:10px"></th>
						<th style="padding-left:10px; padding-right:10px">Authorized</th>
						<th style="padding-left:10px; padding-right:10px" >No matter</th>
						<th style="padding-left:10px">Denied</th>
					</tr>
				</thead>
				<tbody>
                	{% for content in ProhibitedContent.array %}
						<tr style="text-align: center">
							<td>{{ content.name }}</td>
							<td><input type="radio" class="form-check-input" name="{{ content.code }}" value="not_moderated" style="margin: auto"/></td>
							<td><input type="radio" class="form-check-input" name="{{ content.code }}" value="no_matters" style="margin: auto" checked/></td>
							<td><input type="radio" class="form-check-input" name="{{ content.code }}" value="moderated" style="margin: auto"/></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

            <button onclick="collapse('user-count');" type="button" class="btn btn-outline-secondary">Back</button>
			<button id="btn-next-moderation" type="button" class="btn btn-primary">Next</button>
		</div>

        <div id="collapse-version" class="collapse hide text-center" role="tabpanel">
            <h4 style="margin-top: 100px;">Stable version or latest features?</h4>

            <p>An instance running the stable version of Mastodon should be more stable than an instance
            running an in-development version, but those have the latest features of Mastodon before stable ones.</p>

            <button onclick="collapse('moderation');" type="button" class="btn btn-outline-secondary">Back</button>
            <button id="btn-version-master" type="button" class="btn btn-primary">Latest features</button>
            <button id="btn-version-skip" type="button" class="btn btn-secondary">It does not matter</button>
            <button id="btn-version-stable" type="button" class="btn btn-primary">Stable</button>
        </div>

		<div id="collapse-theme" class="collapse hide text-center" role="tabpanel">
			<h4 style="margin-top: 100px;">What special theme(s) do you want for your instance?</h4>

			<!-- TODO -->

			<button id="btn-next-theme" type="button" class="btn btn-primary">Next</button>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}

    <script type="text/javascript" src="/js/select2.full.min.js"></script>

	<script type="text/javascript">
        $("#selectLanguages").select2({
            width: 'resolve'
        }).select2('val', ['{{ acceptsLanguage }}']);

		var query = {};

        $('#btn-start').click(function() {
            collapse('languages');
        });

        $('#btn-next-languages').click(function() {
            query.languages = [];

            $('#selectLanguages').find(":selected").each(function() {
                query.languages.push($(this).val());
			});

            collapse('user-count');
        });

        function userCount(count) {
            if(count)
            	query.user_count = count;

            collapse('moderation');
        }

        $('#btn-next-moderation').click(function() {
            query.moderation = { allowed : [], prohibited: []};

            $('#collapse-moderation').find(":checked").each(function() {
                if($(this).val() == "moderated"){
                    query.moderation.prohibited.push($(this).attr("name"));
				}
				else if($(this).val() == "not_moderated")
				    query.moderation.allowed.push($(this).attr("name"));
            });

            return collapse('version');

            let themes = () => {
                // TODO
                return [];
            };
            if(themes.length > 0) {
                collapse('theme');
                $('#collapse-theme').append('<select style="margin: 10px; height: 200px; max-width: 700px;" multiple class="form-control mx-auto" id="selectTheme"></select>');
                $.each(themes, (theme) => {
                    $('#selectTheme').append('<option value="'+theme+'">'+theme+'</option>');
                });
            }
            else {
                sendQuery();
            }
        });

        $('#btn-version-master').click(function() {
            query.version = 'master';

            sendQuery();
        });

        $('#btn-version-stable').click(function() {
            query.version = 'stable';

            sendQuery();
        });

        $('#btn-version-skip').click(function() {
            sendQuery();
        });

        $('#btn-next-theme').click(function() {
            query.themes = [];

            $('#selectTheme').find(":selected").each(function() {
                query.themes.push($(this).val());
            });

            collapse('admin-location');
		});

		function collapse(id) {
		    id = 'collapse-' + id;

		    $('#collapse-parent').children().each(function(i, e) {
		        if(e.id !== id) {
                    $(e).collapse('hide');
                } else {
                    $(e).collapse('show');
				}
			});
		}

		function sendQuery() {
            $.ajax({
                type: 'POST',
                url: '/wizard',
                data: JSON.stringify(query),
                contentType: "application/json",
                success: () => {
                    window.location.href = '/list';
                },
                error: (err) => {
                    console.log("ERROR");
                    console.log(err)
                }
            });
		}
	</script>
{% endblock %}