{% extends 'layout.njk' %}

{% block main %}
    <h3>
        <a href="https://{{ instance.name }}">{{ instance.name }}</a>
        <small class="text-muted">{{ instance.infos.theme if instance.infos and instance.infos.theme else 'Generalistic instance' }}</small>
    </h3>

    {% if instance.infos %}
        <p>
            {{ instance.infos.fullDescription }}
        </p>

        <p>
            Main languages: {{ instance.infos.languages | join(', ') }}<br />
            <i>Other languages {{ 'are not' if instance.infos.noOtherLanguages else 'are' }} accepted.</i><br />
            Prohibited content:{% set comma = joiner() %}{% for content in instance.infos.prohibitedContent %}{{ comma() }} {{ ProhibitedContent[content] }}{% endfor %}<br />
            {#Federates with <b>{{ 'all' if instance.infos.federation else 'some' }} instances.</b>#}
        </p>
    {% else %}
        <p>
            <i>This instance owner did not give us any information on this instance.</i>
        </p>
    {% endif %}

    <div class="row">
        <div class="col-md-4">
            <h4>{{ instance.users }} Users</h4>

            <p>
                {{ (instance.users / networkStats.users * 100) | round(2) }}% of total ({{ networkStats.users }})<br />
            </p>
        </div>

        <div class="col-md-4">
            <h4>{{ instance.statuses }} Statuses</h4>

            <p>
                {{ (instance.statuses / networkStats.statuses * 100) | round(2) }}% of total ({{ networkStats.statuses }})<br />
            </p>
        </div>

        <div class="col-md-4">
            <h4>{{ instance.connections }} Connections</h4>

            <p>
                {{ (instance.connections / networkStats.instances * 100) | round(2) }}% of instances ({{ networkStats.instances }})<br />
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                Last check: {{ instance.checkedAt }}<br>
                Last update: {{ instance.updatedAt }}<br>
                Last Observatory update: {{ instance.obs_date }}<br>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseLog" aria-expanded="false" aria-controls="collapseLog">
                            Instance log
                        </button>
                    </h5>
                </div>

                <div id="collapseLog" class="collapse hide">
                    <div class="card-body">
                        <samp>
                            <i>({{ log_entries.length }} lines, from oldest to newest)</i><br>
                            {% for log_entry in log_entries %}
                                <span{% if log_entry.level === 1 %}
                                    class="text-warning"
                                {% elseif log_entry.level === 2 %}
                                    class="text-danger"
                                {% else %}
                                    class="text-info"
                                {% endif %}>
                                [{{ log_entry.date_str }}] [{{ log_entry.level_str }}] {{ log_entry.content }}<br>
                                </span>
                            {% endfor %}
                        </samp>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
