<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block css %}
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/sticky-footer.css">
            <link rel="stylesheet" href="/css/bootstrap-sortable.css">
            <link rel="stylesheet" href="/css/font-awesome.min.css">

            <link rel="stylesheet" href="/css/custom.css">
        {% endblock %}
        <title>Mastodon instances</title>
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">Mastodon instances</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Wizard</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/list" id="list-dropdown-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                List
                            </a>
                            <div class="dropdown-menu" aria-labelledby="list-dropdown-link">
                                <a class="dropdown-item" href="/list">Simple</a>
                                <a class="dropdown-item" href="/list/advanced">Advanced</a>
                                <a class="dropdown-item" href="/list/old">Legacy</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Admin space</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/api/doc" id="api-dropdown-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                API
                            </a>
                            <div class="dropdown-menu" aria-labelledby="api-dropdown-link">
                                <a class="dropdown-item" href="/api/doc">Documentation</a>
                                <a class="dropdown-item" href="/api/token">Get a token</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="container-main" class="container{{ '-fluid' if fluid }}">
          {% block main %}
          {% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <span class="text-muted">This website is maintained by <a href="https://mastodon.xyz/@TheKinrar">thekinrar</a>. Source code and issues on <a href="https://github.com/thekinrar/mastodon-instances">GitHub</span>.
            </div>
        </footer>

        {% block scripts %}
            <script type="text/javascript" src="/js/jquery.min.js"></script>
            <script type="text/javascript" src="/js/tether.min.js"></script>
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/js/moment.min.js"></script>
            <script type="text/javascript" src="/js/bootstrap-sortable.js"></script>
        {% endblock %}
    </body>
</html>
