{% extends 'layout.njk' %}

{% block main %}
    <p>Here is a list of Mastodon instances. You can add other instances using the form at the bottom of the page.<br />
    Notice that instances may take up to a minute to be shown in the list.</p>
    <p><i>Contact <a href="https://mastodon.xyz/@TheKinrar">@TheKinrar@mastodon.xyz</a> if needed.</i></p>

    <h3>All instances</h3>
    <p>
      Score is based on the uptime, the HTTPS score, the <i>Observatory by Mozilla</i> score and the IPv6 compatibility.<br />
      Click on the column headers to sort the instances.
    </p>
    
    <p>
      There {{ 'are' if instances|length > 1 else 'is' }} currently <strong>{{ instances|length }}</strong> instance{{ 's' if instances|length > 1 else '' }} being tracked, with a total of <strong>{{ totalUsers }}</strong> users.
    </p>

    <p><a href="#" onclick="$('#fordevs').toggle();">For developers</a></p>

    <p id="fordevs" style="display: none;">
      <a href="/instances.json">/instances.json</a> current state of all tracked instances<br />
      <a href="/api/instances/history.json?instance=mastodon.xyz&start=0&end=1491895743">/api/instances/history.json?instance=<i>INSTANCE</i>&amp;start=<i>START_TIMESTAMP</i>&amp;end=<i>END_TIMESTAMP</i></a> history of one instance on one period<br /><br />

      All dates are unix timestamps (in seconds).
    </p>
    
    {% include 'instancesDisplay.njk' %}

    <h3>Add an instance</h3>
    <form action="/add" method="post">
      <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" name="name" id="inputName" placeholder="mastodon.social">
      </div>
      <button type="submit" class="btn btn-primary">Add instance</button>
    </form>
{% endblock %}