{% extends 'layout.njk' %}

{% block main %}
	<div id="collapse-parent" role="tablist" aria-multiselectable="true">
		<div id="collapse-welcome" class="collapse show text-center" role="tabpanel">
			<h4 style="margin-top: 100px;">Let me help you choose an instance</h4>

			<p>I will ask you a few questions about your needs, then I will show you instances that
				best suit your needs.</p>

			<p>You may skip any step or stay with default options if you want to.</p>

			<button id="btn-start" type="button" class="btn btn-primary">Start</button>
		</div>

		<div id="collapse-languages" class="collapse hide text-center" role="tabpanel">
			<h4 style="margin-top: 100px;">What language(s) do you speak?</h4>

			<select style="margin: 10px; height: 200px; max-width: 700px;" multiple class="form-control mx-auto" id="selectLanguages">
                {% for lang in langs %}
					<option value="{{ lang.code }}">{{ lang.name }} ({{ lang.nativeName }})</option>
                {% endfor %}
			</select>

			<button id="btn-next-languages" type="button" class="btn btn-primary">Next</button>
		</div>

		<div id="collapse-moderation" class="collapse hide text-center" role="tabpanel">
			<h4 style="margin-top: 100px;">What should be prohibited on the instance you're looking for?</h4>

			<select style="margin: 10px; height: 200px; max-width: 700px;" multiple class="form-control mx-auto" id="selectProhibitedContent">
                {% for content in ProhibitedContent.array %}
					<option value="{{ content.code }}">{{ content.name }}</option>
                {% endfor %}
			</select>

			<p class="font-italic">No selection means you don't want any moderation. If you just don't care about that, click Skip.</p>

			<button id="btn-skip-moderation" type="button" class="btn btn-secondary">Skip</button>
			<button id="btn-next-moderation" type="button" class="btn btn-primary">Next</button>
		</div>

		<div id="collapse-security" class="collapse hide text-center" role="tabpanel">
			<h4 style="margin-top: 100px;">What minimal security level do you want?</h4>

			<div class="form-check">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="security" value="very_high">
					Very high security level (A+ HTTPS rank, A- Observatory by Mozilla rank)
				</label>
			</div>

			<div class="form-check">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="security" value="high" checked>
					High security level (A HTTPS rank, B- Observatory by Mozilla rank)
				</label>
			</div>

			<div class="form-check">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="security" value="medium">
					Medium security level (B HTTPS rank, C- Observatory by Mozilla rank)
				</label>
			</div>

			<div class="form-check">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="security" value="any">
					Any security level (<b>highly discouraged!</b>)
				</label>
			</div>

			<p class="font-italic">Don't know what this mean? I recommend you letting the default setting (high security level).</p>

			<button id="btn-next-security" type="button" class="btn btn-primary">Next</button>
		</div>

		<div id="collapse-bots-brands" class="collapse hide text-center" role="tabpanel">
			<h4 style="margin-top: 100px;">What about bots and brands?</h4>

			<div class="row">
				<div class="col-md-6">
					<legend>Bots</legend>
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="bots" value="yes"{{ ' checked' if instance.infos.bots === 'yes' }}>
							Allowed
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="bots" value="conditions"{{ ' checked' if instance.infos.bots === 'conditions' }}>
							Allowed with conditions
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="bots" value="no"{{ ' checked' if instance.infos.bots === 'no' }}>
							Not allowed
						</label>
					</div>
				</div>

				<div class="col-md-6">
					<legend>Brands</legend>
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="bots" value="yes"{{ ' checked' if instance.infos.bots === 'yes' }}>
							Allowed
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="bots" value="conditions"{{ ' checked' if instance.infos.bots === 'conditions' }}>
							Allowed with conditions
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="bots" value="no"{{ ' checked' if instance.infos.bots === 'no' }}>
							Not allowed
						</label>
					</div>
				</div>
			</div>

			<button type="button" class="btn btn-primary">Next</button>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}

	<script type="text/javascript">
		var query = {};

        $('#btn-start').click(function() {
            collapse('languages');
        });

        $('#btn-next-languages').click(function() {
            query.languages = [];

            $('#selectLanguages').find(":selected").each(function() {
                query.languages.push($(this).val());
			});

            collapse('moderation');
        });

        $('#btn-next-moderation').click(function() {
            query.prohibitedContent = [];

            $('#selectProhibitedContent').find(":selected").each(function() {
                query.prohibitedContent.push($(this).val());
            });

            collapse('security');
        });

        $('#btn-next-security').click(function() {
            collapse('bots-brands');
        });

		function collapse(id) {
		    id = 'collapse-' + id;

		    $('#collapse-parent').children().each(function(i, e) {
		        if(e.id !== id) {
                    $(e).collapse('hide');
                } else {
                    $(e).collapse('show');
				}
			});
		}
	</script>
{% endblock %}